In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [11]:
from sklearn import preprocessing

data_raw = pd.read_csv("../data/bankloan.csv")

# col A16 is y
X, y = data_raw.iloc[:, :-1], data_raw.iloc[:, -1]

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15
37,a,23.00,11.750,u,g,x,h,0.500,t,t,2,t,g,300,551
50,a,25.75,0.500,u,g,c,h,0.875,t,f,0,t,g,491,0
22,a,47.75,8.000,u,g,c,v,7.875,t,t,6,t,g,0,1260
542,b,19.67,10.000,y,p,k,h,0.835,t,f,0,t,g,140,0
119,a,20.75,10.335,u,g,cc,h,0.335,t,t,1,t,g,80,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,a,36.75,4.710,u,g,ff,ff,0.000,f,f,0,f,g,160,0
622,a,25.58,0.000,NaN,NaN,NaN,NaN,0.000,f,f,0,f,p,-1,0
430,b,51.83,3.000,y,p,ff,ff,1.500,f,f,0,f,g,180,4
147,a,40.33,7.540,y,p,q,h,8.000,t,t,14,f,g,0,2300
572,b,21.92,0.540,y,p,x,v,0.040,t,t,1,t,g,840,59

In [14]:
# use label encoder to encode categorical data
le = preprocessing.LabelEncoder()

X = X.apply(le.fit_transform)
X

     A1   A2   A3  A4  A5  A6  A7   A8  A9  A10  A11  A12  A13  A14  A15
0     1  157    0   1   0  12   7   30   1    1    1    0    0   69    0
1     0  329   93   1   0  10   3   65   1    1    6    0    0   12  119
2     0   90   16   1   0  10   3   36   1    0    0    0    0   97  140
3     1  126   46   1   0  12   7   73   1    1    5    1    0   32    3
4     1   44  109   1   0  12   7   41   1    0    0    0    2   38    0
..   ..  ...  ...  ..  ..  ..  ..  ...  ..  ...  ...  ...  ...  ...  ...
685   1   53  152   2   2   4   3   30   0    0    0    0    0   91    0
686   0   72   25   1   0   1   7   46   0    1    2    1    0   68  106
687   0   98  186   2   2   5   2   46   0    1    1    1    0   68    1
688   1   21    7   1   0   0   7    1   0    0    0    0    0   97  134
689   1  198   80   1   0   1   3  108   0    0    0    1    0    1    0

[690 rows x 15 columns]

In [15]:

# split data into train and test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, )

In [16]:
# import and use RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=100, max_depth=2, random_state=0)

clf.fit(X_train, y_train)

RandomForestClassifier(max_depth=2, random_state=0)

In [21]:
# predict and use accuracy_score, confusion_matrix

from sklearn.metrics import accuracy_score 
from sklearn.metrics import confusion_matrix

y_pred = clf.predict(X_test)

acc = accuracy_score(y_test, y_pred)

print("Accuracy: ", acc)


cm = confusion_matrix(y_test, y_pred)

cm

Accuracy:  0.861271676300578

array([[95,  9],
       [15, 54]], dtype=int64)